@mixin container {
   display: block;
   margin: 0 auto;
   max-width: 1280px;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.container {
  @include container();
}

#content {
	.container {
		padding: 0 16%;
	}
}

.section-home {

	#content {
		.container {
			padding: 0;
		}
	}
}